
h1 {
	font-size: 35px;
	font-family: Poppins;
	text-align: center;
	font-weight: 700;
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 60px;
	color: darkblue;
}

.byline {
	font-size: 20px;
	text-align: center;
}
.date {
	font-size: 20px;
	font-style: italic;
	text-align: center;
}

img{
	max-width: 500px;
	display: block;
  	margin-left: auto;
 	margin-right: auto;
  	width: 80%;
}

.column {
  float: left;
  width: 40%;
  padding: 5px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.header-section {
	text-align: center;
}

.article-text{
	text-align: left;
	margin-right: 170px;
	margin-left: 170px;
}

.emphasize-letter{
	font-size: 20px;
	font-weight: bold;
}

h2{
	font-size: 25px;
	font-family: Poppins;
	text-align: center;
	font-weight: bold;
}

.methodology-text{
	text-align: left;
	margin-right: 170px;
	margin-left: 170px;
}
